.container{
    display: flex;
    width:100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

h1{
    font-size: 2.1rem;
}

.choice-container{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}