*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

#main-page{
    height:100vh;
    width:100vw;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
}




img{
    /* height:100%; */
    /* width:100%; */
    object-fit: cover;
    height: 400px;
    width: 400px;
    overflow: hidden; 
    border-radius: 11px;
    cursor: pointer;
    /* vertical-align: -webkit-baseline-middle; */
}


.style-1 {
    border: 6px solid red;
}

.style-2 {
    border: 6px solid navy;
}

.style-3{
    border: 6px solid green;
}