<div class="page">
  <div class="overlay">
    <h1 class="overlay-header">Experience unforgettable adventure</h1>
    <h2 class="overlay-subheader">
      Chose between wide range of extraordinary trips
    </h2>
    <div class="move-btn">
      <fa-icon [icon]="faLocationDot" (click)="changePage()"></fa-icon>
    </div>
  </div>
  <div class="grid-container">
    <div class="left">
      <div class="move-btn house">
        <fa-icon [icon]="faHouse" (click)="changePage()"></fa-icon>
      </div>
      <div class="socials">
        <div class="social-item">
          <fa-icon [icon]="faFacebook"></fa-icon>
        </div>
        <div class="social-item">
          <fa-icon [icon]="faTwitter"></fa-icon>
        </div>
        <div class="social-item">
          <fa-icon [icon]="faInstagram"></fa-icon>
        </div>
        <div class="social-item">
          <fa-icon [icon]="faTiktok"></fa-icon>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="contact">
        <h1 class="big-header">Check us out!</h1>
        <div class="contact-item">
          <h2 class="category header">Address</h2>
          <h2 class="answer header">Myslenicka 142</h2>
        </div>
        <div class="contact-item">
          <h2 class="category header">Email</h2>
          <h2 class="answer header">tripperMood@gmail.com</h2>
        </div>
        <div class="contact-item">
          <h2 class="category header">Phone</h2>
          <h2 class="answer header">+48 811 211 128</h2>
        </div>
      </div>
      <div class="map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2565.1517253897605!2d19.94187961972391!3d49.98976479999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471642d7cc5a2aad%3A0xd7653c080687cf52!2sMy%C5%9Blenicka%20142%2C%2032-020%20Krak%C3%B3w!5e0!3m2!1spl!2spl!4v1670866047967!5m2!1spl!2spl"
          width="400"
          height="300"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
  </div>
</div>
